@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Syne+Tactile&display=swap");
body {
  padding: 0;
  margin: 0;
}
html {
  background-color: rgb(120, 115, 186);
}
.WRaper {
  width: 75%;
  margin: 0 auto;
}
.WRaper > div {
  display: inline-block;
}
.side-bar {
  width: 13%;
  background-color: rgb(56, 52, 98);
  position: fixed;
  height: 100%;
  font-family: consolas;
}
.content {
  width: 60%;
  background-color: rgb(147, 142, 228);
  vertical-align: top;
  padding: 25px 5px;
  margin-left: 25%;
  /* height: 1000px; */
  color: white;
  font-family: consolas;
  padding: 10px;
}
.side-bar a {
  color: white;
  text-decoration: none;
}
a {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: rgb(196, 196, 196);
}
.links {
  padding: 0 25px;
}
.img {
  width: 20%;
  height: 20%;
  margin-left: 26px;
  margin-top: 10px;
}
.img1 {
  width: 50%;
}
footer {
  background-color: rgb(33, 31, 58);
  height: 100px;
  width: 627px;
  margin-left: 422px;
  margin-top: 0;
  color: white;
  font-family: consolas;
}
footer h3 {
  padding: 5px;
}
footer p {
  padding-left: 5px;
}
.contacts {
  height: 600px;
}
.cards-row {
  display: flex;
  justify-content: space-between;
}
.services-cards .card {
  background-color: white;
  box-shadow: 0 0 15px 0 #999;
  width: 300px;
  padding: 25px;
  border-radius: 25px;
}
.services-cards {
  margin-top: 100px;
}
p {
  color: #7d7987;
}
.card p {
  line-height: 20px;
}
.card img {
  width: 68px;
  margin-bottom: 10px;
  margin-left: 35%;
}
.cards-row:first-child {
  margin-bottom: 25px;
}
button {
  border: none;
  padding: 12px 35px;
  border-radius: 20px;
}
.default {
  background-color: white;
  color: #458ff6;
  border: 2px solid;
  border-color: #458ff6;
  /* Извините за костыли на отступах, тексталигн не хочет работать */
  margin-left: 45%;
  margin-top: 50px;
}
